<!DOCTYPE html>
<html>
<head>
    <title>Customer List</title>
</head>
<body>
    <h1>Customer List</h1>
    <ul>
        {% for customer in customers %}
            <li>{{ customer.name }} - {{ customer.email }}</li>
            <ul>
                {% for order in customer.orders.all %}
                    <li>Order ID: {{ order.id }}, Date: {{ order.order_date }}, Total: ${{ order.total_amount }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</body>
</html>
